/* pour desktop */
@media screen and (min-width: 768px) {
    .menu {
        display: none;
    }
    .header-nav {
        display: block;
    }
    .header-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      height: 4rem;
      z-index: 9999;
      position: fixed;
    }
    .nav-ul{
        /* list-style: none; */
        margin-right: 0.8em;
      }
      .nav-li{
        /* list-style: none; */
        padding:10px 1vh;
        margin: 0 0.2em 0 0.2em;
        font-size: .8em;
        display:inline;
    }

    .nav-a {
      font-weight: bold;
      color: hsl(75, 4%, 79%);
      text-decoration: none;
      opacity:0.5;
      transition:opacity .4s;
      -webkit-transition: opacity .5s;
    }
    
    .nav-a:hover,
    .nav-a:focus {
      border :hsla(5, 15%, 5%, 0.049);
      opacity:1;
    }

    .content {
        max-width: 85ch;
    }
    .footer-menu {
      background-image: none;
    }
    .content {
        max-width: 85ch;
    }
    .wrapper-menu img {
        display: none;
    }    
}

@media screen and (min-width: 768px) {
    .video-mobilefirst {
      display: none;
    }
    .video-desktop{
      display: initial;
      background-size: cover;
      width: 100vw;
    }

}
