/* pour desktop */
@media screen and (min-width: 768px) {
    .menu {
        display: none;
    }
    .header-nav {
        display: block;
    }
    .nav-ul{
        list-style: none;
        margin-right: 0.8em;
      }
      .nav-li{
        padding:10px 1vh;
        margin: 0 0.2em 0 0.2em;
        font-size: .8em;
        display:inline;
    }
    .footer-menu {
        background-image: none;
    }
    .content {
        max-width: 85ch;
    }
}